.page {
  padding-top: 48px;
  .tool-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--van-gray-1);
    height: 48px;
    display: flex;
    align-items: center;
    .back-icon {
      margin-left: 14px;
      padding-top: 2px;
    }
    .title {
      padding: 0 14px;
      line-height: 48px;
      font-size: 15px;
      font-weight: bold;
    }
    .menus {
      flex: 1;
      text-align: end;
      margin-right: 16px;
      .menu-icon {
        width: 20px;
        height: 20px;
      }
    }
  }
}
