.page {
  padding-top: 48px;
  .tool-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--van-gray-1);
    height: 48px;
    display: flex;
    .title {
      padding: 0 18px;
      line-height: 48px;
      font-size: 15px;
      font-weight: bold;
    }
  }
  .pull-wrapper {
    height: calc(86vh - 48px);
    .menus {
      padding: 24px 0;
      margin: 0 18px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        .menu-icon {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background: #66ccff;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 56%;
            height: 56%;
          }
        }
        .menu-icon-rank {
          background: rgb(0 150 136 / 20%);
          img {
            filter: invert(54%) sepia(84%) saturate(6088%) hue-rotate(155deg) brightness(95%)
              contrast(101%);
          }
        }
        .menu-icon-free {
          background: rgb(33 150 243 / 20%);
          img {
            filter: invert(46%) sepia(23%) saturate(3994%) hue-rotate(185deg) brightness(100%)
              contrast(91%);
          }
        }
        .menu-icon-discount {
          background: rgb(244 67 54 / 20%);
          img {
            filter: invert(49%) sepia(73%) saturate(6094%) hue-rotate(342deg) brightness(99%)
              contrast(93%);
          }
        }
        .menu-icon-list {
          background: rgb(255 152 0 / 20%);
          img {
            filter: invert(48%) sepia(98%) saturate(508%) hue-rotate(357deg) brightness(109%)
              contrast(108%);
          }
        }
        .menu-text {
          margin-top: 6px;
          font-size: 12px;
          color: var(--van-gray-7);
        }
      }
    }
    .ranks {
      .rank-header {
        display: flex;
        align-items: baseline;
        margin: 0 18px;
        .title {
          font-size: 14px;
          font-weight: bold;
          flex: 1;
          color: var(--van-gray-9);
        }
        .all {
          font-size: 12px;
          color: var(--van-gray-7);
        }
        .icon {
          font-size: 14px;
          color: var(--van-gray-7);
        }
      }
      .books-wrapper {
        .book-card {
          margin: 18px;
          display: flex;
          .cover {
            width: 60px;
            height: 80px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .info {
            display: flex;
            flex-direction: column;
            margin-left: 16px;
            justify-content: center;
            .name {
              font-size: 14px;
              color: var(--van-gray-8);
              font-weight: bold;
              margin-bottom: 8px;
            }
            .author,
            .new {
              margin: 4px 0;
              color: var(--van-gray-7);
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
